<!DOCTYPE html>
<html>
<head>
  <title>Bill DeRusha</title>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="shrink">
  <div class="fix" id="wrap">
    <div class="fix" id="head">
      <div id="identity">
              <h2><a href="http://BillDeRusha.com/" title="Bill DeRusha">Bill DeRusha</a></h2>
              <h3>funny</h3>
              <h3>talented</h3>
              <h3>handsome</h3>
              <h3>modest</h3>
      </div>
      <!--Navigation Bar-->
      <ul>
              <li><%= link_to 'About', pages_about_path %></li>
              <li><%= link_to 'Contact', pages_contact_path %></li>
              <li><a href="http://blog.billderusha.com">Blog</a></li>
      </ul>
      <p><a href="mailto:bill@billderusha.com">bill@billderusha.com</a></p>
    </div>
    <div class="fix content">
      <%= yield %>
    </div><!--/.content-->
  </div><!--/#wrap-->
</div><!--/#shrink-->

<div class="fix" id="footer">
<p>&copy; 2011 Bill DeRusha</p>
</div><!--/#footer-->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2755840-8']);
  _gaq.push(['_setDomainName', 'billderusha.com']);
  _gaq.push(['_setAllowHash', 'false']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
